In [8]:
import pandas as pd
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv(r"C:\Users\HP\Downloads\2010tripdata.csv")

In [3]:
data.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [5]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [19]:
y=data["Member type"]
X=data.drop(["Member type"],axis=1)
X=X.drop(["Start date"],axis=1)
X=X.drop(["End date"],axis=1)
X=X.drop(["Start station"],axis=1)
X=X.drop(["End station"],axis=1)

In [20]:
le = LabelEncoder()
le.fit(X["Bike number"])
X["Bike number"]=le.transform(X["Bike number"])

In [21]:
X.head()

   Duration  Start station number  End station number  Bike number
0      1012                 31208               31108          614
1        61                 31209               31209           41
2      2690                 31600               31100          836
3      1406                 31600               31602          282
4      1413                 31100               31201          734

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [26]:
model1=GaussianNB()
model1.fit(X_train,y_train)
y_pred=model1.predict(X_test)

In [27]:
confusion_matrix(y_test,y_pred)

array([[ 1628,  5534,     0],
       [  169, 27346,     0],
       [    0,     3,     0]], dtype=int64)

In [28]:
accuracy_score(y_test,y_pred)

0.8354671280276816